<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <%= 2+2 %>   
    <!-- 4 -->
    <h1>hey boy</h1>
    <!-- niche 4 ni hoga simple likh ke -->
    <h1>2+2</h1> 
    <h1>  <%= 12*7 %>   </h1>  #84
</body>
</html>