<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="main w-full min-h-screen bg-zinc-900">
        <a href="">Go back to home</a>
        <h1 class="text-3xl tracking-tighter">file ka name</h1>
        <p class="text-xl mt-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis id quaerat dignissimos numquam, amet explicabo! Esse recusandae repudiandae dolorum labore ea deserunt, impedit eveniet nobis maiores dolor officia culpa beatae.</p>
    </div>





    <script src="https://cdn.tailwindcss.com"></script>
</body>

</html>